@import '../../styles/main.scss';

@keyframes opacityAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

.footer {
  @include display-flex(space-evenly, center);
  flex-direction: column;
  height: 350px;
  background-image: url('../../assets/images/footer-background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-top: 30px;

  @media (max-width: 760px) {
    margin-top: 40px;
    height: 500px;
  }

  &__container {
    @include display-flex();
    flex-wrap: wrap;
    padding: 20px;

    span {
      font-size: 3rem;
    }

    @media (max-width: 760px) {
      span {
        font-size: 2rem;
      }
    }
  }

  &__bottom {
    @include display-flex(space-evenly, center);
    width: 100%;
    max-width: 1300px;

    @media (max-width: 760px) {
      flex-direction: column;
      height: 60%;
      padding: 0 20px;
    }

    &__input,
    &__button {
      flex-basis: 100%;
      width: 100%;
      height: 94px;
      background-color: $primary;
      color: #fff;
      border: 3px solid #fff;
      border-radius: 26px;
      font-size: 2rem;
      padding: 0 30px;
      margin: 0 10px;

      &::placeholder {
        color: #fff;
      }

      &:focus {
        outline: none;
      }

      @media (max-width: 760px) {
        margin-top: 20px;
        font-size: 2rem;
      }
    }

    &__button {
      flex-basis: 80%;
      background-color: $secondary;
      border: 3px solid $secondary;
      box-shadow: $box-shadow;
      transition: 0.2s ease;

      &:hover {
        background-color: darken($color: $secondary, $amount: 5);
        border-color: darken($color: $secondary, $amount: 5);
      }
    }
  }
}

.ModalContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  width: 50vw;
  height: 50vh;
  transform: translate(-50%, -50%);
  color: black;
  padding: 0;
  outline: none;

  @media (max-height: 770px) {
    height: 60vh;
  }

  @media (max-width: 760px) {
    width: 90vw;
    height: 80vh;
  }
}

.modal {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: $primary;
  color: white;

  &__wrapper {
    @include display-flex();
    flex-direction: column;
    padding-top: 2rem;

    @media (min-width: 1900px) {
      padding-top: 7rem;
    }

    h1 {
      font-size: 3rem;
      width: 100%;
      padding: 0 5% 25px;
      text-align: center;
    }

    p {
      width: 100%;
      padding: 0 20% 25px;
      text-align: center;
      font-size: 1.5rem;
    }
  }

  &__footer {
    @include display-flex();
    // background-image: url('../../assets/images/footer-background.svg');
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: 0 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;

    @media (min-width: 2100px) {
      height: 250px;
    }

    &__button {
      background-color: $secondary;
      border: 3px solid $secondary;
      box-shadow: $box-shadow;
      transition: 0.2s ease;
      color: white;
      border-radius: 10px;
      padding: 15px 40px;
      font-size: 1.5rem;
      font-weight: bold;

      &:hover {
        background-color: darken($color: $secondary, $amount: 5);
        border-color: darken($color: $secondary, $amount: 5);
      }
    }
  }
}

.loading {
  @include display-flex();
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: auto;
  right: auto;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.75);
  color: $primary;
  font-size: 1.5rem;
  font-weight: bold;

  img {
    height: 100px;
    margin-bottom: 50px;

    animation-name: opacityAnimation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }
}
