@import './utils/variables';
@import './utils/functions';
@import './utils/mixins';

#main {
  &__construction {
    @include display-flex();
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: auto;

    svg {
      width: 100%;
      max-width: 900px;
    }
  }
}

.ReactModal__Overlay {
  z-index: 150;
}
