@import "../../styles/main.scss";

.services {
  max-width: 1300px;
  width: 100vw;
  margin: 0 auto;
  padding-top: 30px;
  .first__service {
    font-weight: normal;
    @include display-flex(space-evenly, center);
    align-content: center;
    flex-wrap: wrap;

    &__text,
    &__carousel {
      padding: 1rem;
    }

    @media (min-width: 700px) {
      &__text {
        max-width: 40%;
      }

      &__carousel {
        max-width: 60%;
      }
    }

    &__carousel {
      @media (max-width: 700px) {
        @include display-flex();
        flex-direction: column;
        max-width: 90%;
      }
    }
    &__title {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      span {
        display: block;
        color: $text-black;
        font-size: 2.9rem;

        @media (max-width: 700px) {
          font-size: 200%;
        }
      }

      strong {
        display: block;
        color: $primary;
        font-weight: bold;
        font-size: 4rem;

        @media (max-width: 700px) {
          font-size: 300%;
        }
      }
    }

    &__description {
      display: block;
      color: $light-gray;
      font-size: 1.3rem;
      max-width: 80%;
      margin: auto;
    }

    &__images {
      width: 500px;
      max-width: 100%;
      height: 400px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }

    &__arrows {
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      position: relative;
      bottom: 2rem;
      @media (max-width: 700px) {
        left: 10%;
      }
      left: 70%;
      width: 120px;

      &_prev,
      &_next {
        border: none;
        outline: none;
        cursor: pointer;
        padding: 5px 15px;
      }

      &_prev {
        background-color: $secondary;
        color: white;
      }

      &_next {
        background-color: white;
        color: $secondary;
      }
    }
  }

  .other__services {
    @include display-flex(space-between, center);

    @media (max-width: 700px) {
      flex-direction: column;
      background-color: color(primary);
    }
    margin-top: 60px;
    &__overlay {
      position: absolute;
      margin-top: 200px;
      left: 0;
      z-index: -1;
      width: 100vw;
      height: 80%;
      margin-top: 100px;
      background-image: url("../../assets/images/services-background.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: cover;
      @media (min-width: 1550px) {
        background-repeat: round;
      }
    }

    &__service,
    &__service__middle {
      @include display-flex(space-between, center);
      flex: 1;
      flex-direction: column;
      width: 100%;
      .image__card {
        width: 100%;
        padding: 0 10px;
        @media (max-width: 700px) {
          padding: 0;
        }
        span {
          display: block;
          text-align: center;
          font-size: 48px;
          font-weight: bold;
          text-shadow: $box-shadow;
          width: 100%;
          height: 32.4rem;
          background-image: url("../../assets/images/02-residencial-higienizacao.jpg");
          background-position: 0 0;
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 23px;
          padding: 15px 0;
          @media (max-width: 700px) {
            margin-top: 80px;
            display: flex;
            justify-content: center;
            width: 100vw;
          }
        }
        .middle__span {
          @include display-flex(center, flex-end);
          width: 100%;
          height: 35.9rem;
          margin-top: -30px;
          @media (max-width: 700px) {
            margin-top: 80px;
            display: flex;
            justify-content: center;
            width: 100vw;
            padding: 20px;
          }
        }
      }
      .description {
        margin-top: 15px;
        color: #fff;
        max-width: 23rem;
        font-size: 24px;
        text-align: center;
        text-shadow: $box-shadow;
        @media (max-width: 700px) {
          padding-bottom: 15px;
        }
      }
    }

    &__service__middle {
      img {
        min-height: 575px;
      }
    }
  }
  .dividers {
    display: none;
    @media (max-width: 700px) {
      display: flex;
      &__left {
        flex: 1;
        height: 40px;
        background-color: color(primary);
        margin-top: -20px;
        z-index: -1;
        transform: skewY(5deg);
      }
      &__right {
        flex: 1;
        height: 40px;
        background-color: color(primary);
        margin-top: -20px;
        z-index: -1;
        transform: skewY(-5deg);
      }
    }
  }
}
