@import '../../styles/main.scss';

.services {
  max-width: 1300px;
  width: 100vw;
  margin: 0 auto;
  padding-top: 30px;
  .first__service {
    font-weight: normal;
    @include display-flex(space-evenly, center);
    align-content: center;
    flex-wrap: wrap;

    &__text,
    &__carousel {
      padding: 1rem;
    }

    @media (min-width: 700px) {
      &__text {
        max-width: 40%;
      }

      &__carousel {
        max-width: 60%;
      }
    }

    &__carousel {
      @media (max-width: 700px) {
        @include display-flex();
        flex-direction: column;
        max-width: 90%;
      }
    }

    &__title {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      span {
        display: block;
        color: $text-black;
        font-size: 2.9rem;

        @media (max-width: 700px) {
          font-size: 200%;
        }
      }

      strong {
        display: block;
        color: $primary;
        font-weight: bold;
        font-size: 4rem;

        @media (max-width: 700px) {
          font-size: 300%;
        }
      }
    }

    &__description {
      display: block;
      color: $light-gray;
      font-size: 1.3rem;
      max-width: 80%;
      margin: auto;
    }

    &__images {
      width: 500px;
      max-width: 100%;
      height: 400px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }

    &__arrows {
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      position: relative;
      bottom: 2rem;
      @media (max-width: 700px) {
        left: 10%;
      }
      left: 70%;
      width: 120px;

      &_prev,
      &_next {
        border: none;
        outline: none;
        cursor: pointer;
        padding: 5px 15px;
      }

      &_prev {
        background-color: $secondary;
        color: white;
      }

      &_next {
        background-color: white;
        color: $secondary;
      }
    }
  }

  .other__services {
    @include display-flex(space-between, center);

    @media (max-width: 700px) {
      flex-direction: column;
      background-color: color(primary);
    }

    margin-top: 60px;

    &__wrapper {
      @include display-flex(center, center);
      flex-wrap: wrap;
    }

    &__overlay {
      position: absolute;
      margin-top: 200px;
      left: 0;
      z-index: -1;
      width: 100vw;
      height: 100%;
      margin-top: 100px;
      background-image: url('../../assets/images/services-background.svg');
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: cover;

      // @media (min-width: 1550px) {
      //   background-repeat: round;
      // }
    }

    &__service {
      @include display-flex(space-between, center);
      flex: 1 33%;
      flex-direction: column;
      width: 100%;

      @media (max-width: 760px) {
        flex: 1 100%;
        margin-bottom: 20px;
      }

      .image {
        &__card {
          position: relative;
          width: 100%;
          padding: 0 10px;

          @media (max-width: 750px) {
            padding: 0;
            text-align: center;
          }

          @media (min-width: 751px) {
            height: 500px;
          }

          img {
            width: 100%;
            height: 95%;
            object-fit: cover;
            border-radius: 20px;

            @media (max-width: 760px) {
              width: 90%;
              height: 500px;
            }
          }

          span {
            position: absolute;
            left: 0;
            font-size: 2.5rem;
            font-weight: bold;
            width: 100%;
            text-align: center;
            text-shadow: $box-shadow;
          }
        }

        &__description {
          font-weight: normal;
          padding: 10px 20px;
          font-size: 1.5rem;
          text-align: center;
        }
      }

      @media (min-width: 751px) {
        .image__card {
          height: 600px;
        }

        &:first-of-type,
        &:last-of-type {
          .image__card {
            height: 520px;

            span {
              top: 10px;
            }
          }
        }

        &:nth-child(2) {
          .image__card {
            span {
              bottom: 50px;
            }
          }
        }
      }

      @media (max-width: 751px) {
        .image__card {
          span {
            bottom: 20px;
          }
        }
      }

      // .description {
      //   margin-top: 15px;
      //   color: #fff;
      //   max-width: 23rem;
      //   font-size: 24px;
      //   text-align: center;
      //   text-shadow: $box-shadow;

      //   @media (max-width: 700px) {
      //     padding-bottom: 15px;
      //   }
      // }
    }

    // &__service__middle {
    //   img {
    //     min-height: 575px;
    //   }
    // }
  }

  // .dividers {
  //   display: none;

  //   @media (max-width: 700px) {
  //     display: flex;

  //     &__left {
  //       flex: 1;
  //       height: 40px;
  //       background-color: color(primary);
  //       margin-top: -20px;
  //       z-index: -1;
  //       transform: skewY(5deg);
  //     }

  //     &__right {
  //       flex: 1;
  //       height: 40px;
  //       background-color: color(primary);
  //       margin-top: -20px;
  //       z-index: -1;
  //       transform: skewY(-5deg);
  //     }
  //   }
  // }
}
